.amen {
    text-align: center;
    color: blueviolet;
    background-color: black;
}
#second{
    background:burlywood;
    text-align: center
}
li a:hover {
    color: black;
}
.mine {
    text-align: center;
    color: blueviolet;
    background-color: black;
}
.media {
    position: absolute;
    top: 40%;
    left: 50%
}
nav>ul>li
{
  display:inline-block;
  flex-direction:row;
  margin:2em 2em;
  text-transform:"UpperCase";
  text-align: center;
  color: white;
}

body{
   margin-left: 10%;
   margin-right: 10%;
}
#two {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.four {
    background: burlywood;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
}
#fouro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 140px;

    left: 30px;
    font-size: 20px;


}
#fourt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.empas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.empass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.empassi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.empassiz {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#minus {
    background: burlywood;
    text-align: center;
}
#club {
    padding: 10px;
    background-color: burlywood;
    margin-top: 60px;
    margin-bottom: 0px;
}
body{
    background-image: url("https://images.unsplash.com/photo-1507936580189-3816b4abf640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;

}

