.amen {
    text-align: center;
    color: white;
    
}
#second{
    background-color: black;
    text-align: center
}
li a:hover {
    color: blue;
}
.mine {
    text-align: center;
    color: white;
}
.media {
    color:blueviolet;
    margin:15px;
    text-decoration:none;
    display:inline-block;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    font-size: 45px;

}
.meia :hover {
    color: blueviolet;
}
nav>ul>li
{
  display:inline-block;
  flex-direction:row;
  margin:2em 2em;
  text-transform:"UpperCase";
  text-align: center;
  color: white;
}

body{
   margin-left: 10%;
   margin-right: 10%;
}
#two {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.four {
    background: burlywood;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
}
#fouro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 140px;

    left: 30px;
    font-size: 20px;


}
#fourt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.empas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}
.empass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}
.empassi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}
.empassiz {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#minus {
    padding: 10px;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
}
#club {
    padding: 10px;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 0px;
    color: white;
}
body{
    background-image: url("https://images.unsplash.com/photo-1507936580189-3816b4abf640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    filter: blur(0.6px);
}
a{
    text-align: center;
    color: white;
}
.vasse {
    margin-right: 10px;
    margin-block-end: 10px;

}
#edu {
    text-align: center;
    color: white;
}
#edui {
    text-align: center;
    color: white;
    font-size: 20px;

}
#evenly {
    color: white;
    font: size 25px;
    margin-left: 23%;
}